
:root {
    --primaryHeavyGreen: #008B3C;
    --primaryLightGreen: #00B54E;
    --primaryRed: #EA3D3D;
    --primaryYellow: #FEC022;
    --black: #000000;
    --lightBlack: #202121;
    --grey: #CCCCCC;
    --lightGrey: #E8E8E8;
    --lighterGrey: #F4F7F6;
    --white: #FFFFFF;
    --errorRed: #EA3D3D;
    --errorMiddle: #F28B8B;
    --errorLight: #FBD8D8;
    --alertOrange: #E78429;
    --alertYellow: #FEC022;
    --alertLight: #FDF0E6;
    --background: #F1F2F4;
}

/** Defaults */

* {
    margin: 0;
    padding: 0;
    border: none;
    position: relative;
}

html,
body {
    background-color: var(--background) !important;
    height: 100vh;
    width: 100vw;
    color: black;
    overflow-x: hidden;
    font-size: 14px;
}

/** Defaults */

/* Custom Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 5.35px;
    height: 5.35px;
}


/* Handle */
::-webkit-scrollbar-thumb {
    background: #CED4DA;
    border-radius: 10px;
}

/* Custom Scrollbar */